{% extends "base.html" %}

{% block title %}
BlogList-Learning Barn
{% endblock %}

{% block page %}
    {% for entry in entry_list.object_list %}
        <div class="hero-unit">
        <a href="/blog/{{ entry.id }}"><h3>{{ entry.title }} <small>at {{ entry.pub_date|date:'Y-m-d H:i' }}</small></h3></a>
        </div>
    {% empty %}
        <div class="hero-unit">
            <h2>Empty</h2>
        </div>
    {% endfor %}


    <div class="pagination pagination-centered">
        <ul>
            {% if entry_list.has_previous %}
                <a href="?page={{ entry_list.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
            Page {{ entry_list.number }} of {{ entry_list.paginator.num_pages }}.
        </span>

            {% if entry_list.has_next %}
                <a href="?page={{ entry_list.next_page_number }}">next</a>
            {% endif %}
        </ul>
    </div>
{% endblock %}