container_commands:
  01_pips:
    command: "pip install -e git://github.com/jamstooks/django-s3-folder-storage.git#egg=django_s3_folder_storage-dev"
    leader_only: true
  02_syncdb:
    command: "django-admin.py syncdb --noinput"
    leader_only: true

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: liteblog/wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: liteblog.settings
  - option_name: AWS_SECRET_KEY
    value: rrOoMaiC4YD9C54QjgQtcZ/GDthcdC5slSJY4lWN
  - option_name: AWS_ACCESS_KEY_ID
    value: AKIAICOCMIB3PXGM6QNA